<!-- <div class="mb-20 mt-20 ml-20 mr-20" fxLayout="row" fxLayout.lt-sm="column" fxFlex fxLayoutGap="15px">
    <div fxFlex *ngFor="let item of places">
            <mat-card class="p-0" [ngStyle]="{'background-image':'url(' +item.imgSrc+ ' )', 'background-position': 'center top', 'background-size': 'cover'}">
                    <mat-card-content class="mat-content-custom"></mat-card-content>
                <mat-card-header class="mat-header-costum" fxLayout="row" fxLayoutAlign="space-evenly center" >
                    <mat-card-title class="mb-0">
                        <h3 class="m-0">{{item.title}}</h3>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-actions class="mat-action-costum pt-0" fxLayout="row" fxLayoutAlign="space-evenly center" >
                    <button mat-icon-button aria-label="like It">
                        <mat-icon>favorite</mat-icon>
                      </button>
                      <button mat-icon-button aria-label="add to shopping_cart">
                        <mat-icon>shopping_cart</mat-icon>
                      </button>
                      <button mat-icon-button aria-label="buy">
                        <mat-icon>check_circle</mat-icon>
                      </button>
                </mat-card-actions>
            </mat-card>
    </div>
</div>
<mat-divider></mat-divider>
<div class="mb-20 mt-20 ml-20 mr-20" fxLayout="row" fxLayout.lt-sm="column" fxFlex fxLayoutGap="20px">
    <div fxFlex *ngFor="let item of places">
        <mat-card>
            <img mat-card-image [src]="item.imgSrc">
            <mat-card-header style="justify-content: center">
                <mat-card-title>
                    <h3 class="m-0">{{item.title}}</h3>
                </mat-card-title>
            </mat-card-header>
            <mat-card-actions class="mat-action-costum pt-0" fxLayout="row" fxLayoutAlign="space-evenly center" >
                <button mat-icon-button aria-label="like It">
                    <mat-icon>favorite</mat-icon>
                  </button>
                  <button mat-icon-button aria-label="add to shopping_cart">
                    <mat-icon>shopping_cart</mat-icon>
                  </button>
                  <button mat-icon-button aria-label="buy">
                    <mat-icon>check_circle</mat-icon>
                  </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div> -->
<app-category-cards></app-category-cards>
<mat-divider></mat-divider>
<app-popular-products-cards></app-popular-products-cards>

