.m-20 {
    margin-left: 20px !important;
    margin-right: 0px !important;
    margin-top: 20px !important;
    margin-bottom: 0px !important;
}
.mat-card-image {
    margin-bottom: -4px !important;
}
.category-card-title {
    text-align: center;
    margin-bottom: 16px;
}
.card-max-width {
    max-width: 500px;
  }
