.toolbar-row {
    padding-left: 5px;
    padding-right: 10px;
}
.menu-spacer {
    flex: 1 1 auto;
  }
.app-logo {
    height:70%;
    border-radius: 8px;
  }
.logo-margin {
  margin-right: 10px;
  margin-left: 10px;
}
.main-container {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 20px;
}
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
