<div class="m-20" fxLayout="row wrap" fxLayout.lt-sm="column" fxFlex fxLayoutGap="20px grid">
  <div fxFlex fxFlex.gt-md="20" fxFlex.sm="50" *ngFor="let item of products">
        <mat-card class="card-max-width" ngStyle.md="min-width: 300px;">
          <img mat-card-image [src]="item.url" (click)="onCardClick($event)" matRipple class="clickable">
          <mat-card-header style="justify-content: center">
              <mat-card-title>
                  <h3 class="m-0 mat-h2">{{item.title}}</h3>
              </mat-card-title>
          </mat-card-header>
          <mat-card-actions class="mat-action-costum pt-0" fxLayout="row" fxLayoutAlign="space-evenly center" >
              <button mat-icon-button aria-label="like It">
                  <mat-icon>favorite</mat-icon>
                </button>
                <button mat-icon-button aria-label="add to shopping_cart">
                  <mat-icon>shopping_cart</mat-icon>
                </button>
                <button mat-icon-button aria-label="buy" [routerLink]="['/products/by-product']">
                  <mat-icon>check_circle</mat-icon>
                </button>
          </mat-card-actions>
      </mat-card>
  </div>
</div>