/* You can add global styles to this file, and also import other style files */
@import "./tempotoo-theme.scss";

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
  }
  .clickable {
    cursor: pointer;
    &:hover {
      @include mat-elevation(8);
    }
  }